@charset "utf-8";
/* CSS Document */
body{
	background-color:lemonchiffon;
	}
	
#Menú{
	list-style:none;
	}

#Menú li{
	display:inline;
}

#Menú li a{
	background-color:papayawhip;
	color:darkgoldenrod;
	padding:0;
	margin:4px;
	text-decoration:none;
	text-align:center;
	float:left;
	width:150px;
	height:30px;
	border-radius: 10px 10px 0px 0px;
	box-shadow:10px 10px 15px silver;
	border:double 12px orange;
	}
#Menú li a:hover{
	margin-top:-5px;
	padding-bottom:12px;
	background-color:salmon;
	color:lightslategray;
	border:dotted 10px whitesmoke;
	}

	